.dashboard-wrapper {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
}

.dashboard-content {
    flex: 1; /* Ye bachi hui poori screen le lega */
    padding: 20px 40px;
    background-color: #fcfcfc;
}

/* Sidebar ki thodi styling */
.sidebar {
    width: 18%;
    min-height: 100vh;
    border-right: 1.5px solid #a9a9a9;
    display: flex;
    flex-direction: column;
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sidebar-option.active {
    background-color: #fff2ef;
    border: 1px solid tomato;
    border-right: 0;
}